
.planet-card{
    -webkit-box-shadow: 3px 3px 10px 3px rgba(119, 237, 203, 0.9);
-moz-box-shadow: 3px 3px 10px 3px rgba(119, 237, 203, 0.9);
box-shadow: 3px 3px 10px 3px rgba(119, 237, 203, 0.9);
transition: transform 0.3s ease;
border-radius: 80px;
width: 400px; /* Adjust width as needed */
  

}
.planet-image{
    height: 330px;
    width: 120px;
    float: left;
}
.planet-card:hover{
    transform: scale(1.05);
}

.planet-description{
    color: #fcfafa;
   margin-bottom: 3px;
}
.title{
    color: #fcf7f7;
    font-family: "Poppins";
    
}
.planet-name{
    color: #fcf7f7;
    font-family: "Poppins";
    font-size: 50px;
    margin-top: 20px;
    margin-top:0px ;
    margin-bottom: 8px;
}

/* For smaller screens */
@media only screen and (max-width: 768px) {
    .planets-container {
      padding: 20px;
    }
  
    .title {
      font-size: 24px;
    }
  
    .planets-grid {
      display: grid;
      gap: 20px;
    }
  
    .planet-card {
    
    }
  
    .planet-image {
      width: 100%;
    }
  
    .planet-details {
      padding: 10px;
    }
  }
  
  /* For larger screens */
  @media only screen and (min-width: 769px) {
    .planets-container {
      padding: 40px;
    }
  
    .title {
      font-size: 36px;
    }
  
    .planets-grid {
      display: grid;
     flex-wrap: wrap;
      gap: 30px;
    }
  
    .planet-card {
        width: calc(50% - 15px);
    }
  
    
    
    .planet-card:nth-child(odd){
        margin-right: 100px;
        text-align: left;
    }

    .planet-card:nth-child(even) {
        margin-left: 650px; 
        text-align: left;
      }

    .planet-image {
      width: 50%;
    }
  
    .planet-details {
      padding: 20px;
    }
  }
  

